{% extends 'base.html' %}
{% block container %}
<h1> {{ subject_name }}</h1>
{% if notes %}
        <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">S.N</th>
                          <th scope="col">Author</th>
                          <th scope="col">College</th>
                          <th scope="col"> Downloaded </th>
                          <th scope="col"> Rating </th>
                          <th scope="col"> download Links </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for note in notes %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ note.author }}</td>
                          <td>{{ note.college }}</td>
                          <td class="download-{{ note.pk }}">{{ note.download }}</td>
                          <td class="rating-{{ note.pk }}"> {{ note.avg_rating }}</td>
                          <td><a href="{{note.note_upload.url}}" download><button type="button" class="btn btn-success" obj_pk="{{ note.pk }}">Download</button></a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
<script>
  $("button").click(function(){
      var button = $(this);
      obj_id = button.attr("obj_pk");
      url = "/download/"+obj_id+"/";
      $.ajax({
            url: url,
            success: function(result){
                $("td.download-"+obj_id).html(result["download"]);
            }
          });
});
</script>
{% endblock container %}
